{% extends "base.html" %}
{% block title %}{% if object %}Atualizando{% else %}Criando{% endif %} Funcionário{% endblock %}
{% block conteudo %}
<h3>
  {% if object %}Atualizando{% else %}Criando{% endif %} Funcionário
</h3>

<form method="post" action=".">
  {% csrf_token %}

  <table>
    {{ form.as_table }}
  </table>
  <input type="button" value="Voltar" onclick="history.go(-1)">
  <input class="green button" type="submit" value="{% if object %}Atualizar{% else %}Criar{% endif %}" />
</form>
{% endblock %}
