body {
  margin: 0;
  background: #eeeeec;
  font: 13px "DejaVu Sans Condensed", "Bistream Versa Sans", arial, sans-serif;
}
#base {width: 600px; background-color: white; margin: 0px auto}
#content {margin-top: 20px; width: 600px; margin: 0px auto;}
.box {width: 600px; height: 460px;}
#produtos table {width: 100%;}
form label {display: block; padding-top: 5px;}
form input {padding: 5px;}
tr.selected td{background-color:#B0BED9;color:white;}
.list {height: 460px;}
#footer {padding-top: 10px; font-size: 9px; text-align: center; background-color: #EEEEEC;}
#footer ul {text-align: center; width: 150px;}

div#menu {
  background: #2e3436;        
  color: #FFF;
  height: 25px;
  padding-left: 20px;
}

#menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

#menu ul li {
  margin: 0;
  display: inline;
}

#content table {width: 600px;}
#content table thead {}

#menu a {
  float: left;
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 2px 6px;
  height: 20px;
  max-height: 20px;
  line-height: 20px;
  font-weight: bold;
  border-left: 1px solid white;
  border-right: 1px solid #7fa3d3;
  margin-left: -1px;
  overflow: hidden;

}

#menu a:hover {
  background-color: #cc0000;
}

#menu li ul {
  display: none;
}

#menu li.current ul {
  display: block;
  position: absolute;
  top: 143px;
  left: 10px;
}
#menu li.current ul a {
  font-size: 12px;
  color: #ABC;
  border: none;
  padding: 0px 5px;
  margin: 0px 5px;
}
#menu li.current ul a:hover {
  background: none;
  color: #048;
}

#content {padding: 10px;}

.errorlist {margin:0px; padding: 0px; list-style: none; color: red;}

form table th {text-align: right; width: 100px; padding-right: 10px;}
form textarea {margin-left: 10px;}
form table td {
    font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 13px;
    padding: 2px;
}
form input[type='text'],form input[type='password'], form textarea {
    display: block; margin: 4px 0 0 0;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset; box-shadow:
    -0 1px 2px rgba(0, 0, 0, .15) inset;
    color: #424242;
    font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 13px;
    outline: none;
    padding: 6px;
    -moz-transition: border .3s linear, box-shadow .3s linear;
    -webkit-transition: border .3s linear, -webkit-box-shadow .3s linear;
}