<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %} - HotSys</title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="base">
      <div id="header">
        <img src="/static/img/logo.jpg" />
        <h2>HotSys</h2>
        <p>Logado como {{ user.nome }}</p>
      </div>
      <div id="menu"> <ul>
          {% if user.tipo == 'r' %}<li><a href="/reserva/">Reservas</a></li>{% endif %}
          <li><a href="/quarto/">Quartos</a></li>
          <li><a href="/hospede/">Hóspedes</a></li>
          {% if user.tipo == 'g' %}<li><a href="/produto/">Produtos</a></li>{% endif %}
          {% if user.tipo == 'g' %}<li><a href="/funcionario/">Funcionários</a></li>{% endif %}
          {% if user.tipo == 'g' %}<li><a href="/quarto/relatorio/">Relatório</a></li>{% endif %}
          <li><a href="/logout/">Sair</a></li>
      </div>
      
      <div id="content">
	{% block conteudo %}
	{% endblock %}
      </div>
    </div>
  </body>
</html>
