{% extends "base.html" %}
{% block title %}Produtos{% endblock %}
{% block conteudo %}
<a class="button green" href="add/">Adicionar</a>

{% if object_list %}
<table class="list">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th>Quantidade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ object.nome }}</td>
      <td>{{ object.valor|floatformat:2 }}</td>
      <td>{{ object.qtde }}</td>
      <td>
        <a href="atualiza/{{ object.id }}" class="button">Editar</a>
        <a href="remove/{{ object.id }}" class="button red">Deletar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}
    <span class="page-current">
      Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
    {% endif %}
  </span>
</div>
{% endif %}

{% else %}
<h3>Nenhum produto cadastrado</h3>
{% endif %}
{% endblock %}
